body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}
h1 { font-size: 4.0rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 2.0rem; }
nav li {
    margin-bottom: 0;
}
a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #cc9900;
}
a:hover {
    color: #0FA0CE;
}
code {
    background: unset;
    border: unset;
    border-radius: unset;
}

.container{
    padding: 3% 0;
}
.center {
    text-align: center;
}
.section-border {
    border-top: 4px double #ccc;
    margin-top: 2rem;
    padding-top: 2rem;
}

footer p {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-align: center;

}

abbr:hover::after {
    content:' (' attr(title) ')';
}
@media screen and (min-width: 550px) {
    abbr[title]:after {
        content: ""; 
    }
}
